[scripts]
start = "python manage.py runserver 0.0.0.0:8001"
migrate = "bash -c 'python manage.py makemigrations && python manage.py migrate'"
migrate_reset = "bash -c 'python manage.py migrate --fake && python manage.py migrate'"
test = "python manage.py test"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
selenium = "*"
uwsgi = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.10"
