[scripts]
up = 'docker compose -f "compose.yml" up -d --build'
down = 'docker compose -f "compose.yml" down'
logs = 'docker compose logs'

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3"
