{% extends 'event_schedules/base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <h3><b>イベントスケジュール</b></h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table width="100%" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">状態</th>
                        <th class="text-center">タイトル</th>
                        <th class="text-center">次回実行</th>
                        <th class="text-center">詳細</th>
                        <th class="text-center">エラー解除</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr class="odd gradeX text-center">
                        <td class="text-center" width="100">{{ item.get_status_display }}</td>
                        <td class="text-center">{{ item.event_function }}</td>
                        <td class="text-center">{{ item.nextexecutedatetime }}</td>
                        <td class="text-center" width="50">
                            <a class="btn btn-primary"
                                href="{% url 'event_schedules:event_schedule_doevent_history' item.pk %}">詳細</a>
                        </td>
                        <td class="text-center" width="50">
                            <a class="btn btn-primary"
                                href="{% url 'event_schedules:event_schedule_solve_error' item.pk %}">エラー解除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}